:root {
    --color-sage-green: #E2E8E1;  /* Light Sage Green */
    --color-soft-beige: #F5F2EA;  /* Soft Beige */
    --color-light-gray: #E8E8E8;  /* Light Gray */
    --color-text: #333333;        /* Dark Gray for Text */
    --color-light-gray-hover: #D3D3D3;
    --color-olive-green: #6B8F71;
    --color-dark-olive-green: #5C7C61;  /* Dark Olive Green for Hover */
}